<phpunit
  colors="false"
  convertErrorsToExceptions="true"
  convertNoticesToExceptions="true"
  convertWarningsToExceptions="true"
  timeoutForLargeTests="60"
  stopOnFailure="false">

<logging>
  <log type="testdox-html" target="./.TestResults.html"/>
  <log type="junit" target="./.TestResults.xml"/>
</logging>

</phpunit>